
<body class="inicio">
<form action="/auth/signup" method="POST" enctype="multipart/form-data" id="form-container">
<h2>Signup</h2>
  <label for="username">Username</label>
  <input class="box" id="username" type="text" name="username" placeholder="JonSnow">

  <label for="password">Password</label>
  <input class="box" id="password" type="password" name="password" placeholder="Your password">
 
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <label>Photo</label>
  <input  class="box"type="file" name="photo">

  <button class="button">Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>

</body>

