<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/startGame.js"></script>
</head>

<body>


  {{user.username}}

  <img src="{{user.picture.imgPath}}" alt="{{user.picture.decription}}" srcset="" height="30vh" width="30vw">


  <section>
    <canvas id="canvas" style="position:absolute;top:30%;left:30%;border:2px solid;"></canvas>
    <div class="colorButtons">
    <div style="position:absolute;top:12%;left:43%;">Choose Color</div>
    <div style="background:green;" id="green"><h4>Green</h4></div>
    <div style="background:blue;" id="blue"><h4>Blue</h4></div>
    <div style="background:red;" id="red"><h4>Red</h4></div>
    <div style='background:yellow;' id='yellow'><h4>Yellow</h4></div>
    <div style="background:orange;" id="orange"><h4>Orange</h4></div>
    <div style="background:black;" id="black"><h4>Black</h4></div>
    <div style="background:grey" id="white">Eraser</div>
  
    
    <div id="clr"><h3>Clear All</h3></div>


    <button id="start-button">StartGame</button>
  </section>

  <div class="save" style="position:absolute;top:600px;left:30%;border:2px solid"><img id="canvasImg" src="" width="400" height="400"></div>


</body>

</html>