
* {
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color:black;
  transition: all 0.5s;
}
a:hover {
  color: #00B7FF;
}
a:last-child::after {
  margin-left: 10px;
  content: "";
}
nav{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;;
}
nav a::after {
  margin-right: 50px;
  margin-left: 50px;
  content: "|"; 
}
.inicio{
  background: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.inicio h1{
  color: gray;
  font-size: 100px;
  float:right;
  padding-top: 90px;
  margin-bottom: 5px;
  margin-right: 300px;
  -webkit-text-stroke: 2px black;
}
.text{
  font-size: 50px;
  float:right;
  margin-right: 20px;
  color: gray;
  -webkit-text-stroke: 2px black;
}


h2{
  font-size: 45px;
  color: gray;
  -webkit-text-stroke: 2px black;
}

#form-container {
position: absolute;
top: 20%;
left: 43%;
width: 300px;
height: 10px;
text-align: center;
display: flex;
flex-direction: column;
}

#formPlayers{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
}
.list{
  text-decoration: none;
  list-style-type: circle;
  color: grey;
}
li{
  margin-bottom: 10px;
}
.gamesInvited{
  text-align: center;
  width: 30%;
  display: flex;
  align-content: center;
  flex-direction: column;
  font-size: 15px;
  margin-left: 50px;

}
.tittle{
  font-size: 20px;
  color: gray;
  -webkit-text-stroke: .5px black;
}
label{
  margin-top: 10px;
  // margin-bottom: 10px;
  font-size: 20px;
}
:placeholder-shown{
  text-align: center;
}
.box{
  margin-bottom: 10px;
  // margin-top:10px; 
  text-align: center;
  padding: 10px;
  font-size: 15px;
} 
.photo{
  // border-radius: 150px;
  height: 300px;
  width: 300px;
  padding: 20px;
  border: 1px grey ;
  // border-style: double;
  border-style: dotted;
}
.button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.containerGame{
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.items{
  display: flex;
  justify-content: space-between;
  align-content: space-between; 
}
.colors{
  width: 30px;
  height: 30px;
  margin-bottom: 25px;
  margin-left: 20px;
  border-radius: 50px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.miniphoto{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}

#canvas{
  border: 1px solid black;
  margin-right: 40px;
  background: rgb(231, 231, 231);
}

.players{
  width: 250px;
  border: 3px solid black;
  background: rgb(231, 231, 231);
  padding-top: 20px;
 
}
.inputplayers{
  
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin-left: 80px;
  width: 300px;
  height: 300px;
  text-align: center;
}
#form-container{
  display: flex;
  justify-content: center;
  margin-top: 210px;
}
.user{
  display: flex;
}
hr {
  height: 2px;
  background-color: gray;
}
.letter{
  display: flex;
  justify-content: center;
}
#start-button{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size:15px;
  background:grey;
  color:white;
  
}
button{
  margin-top: 10px;
  background: grey;
  color:white;
  transition: all 0.5s;
}
button:hover{
  background:  #00B7FF;
}
.profile{
  display: flex;
  margin-top: 20px;
  padding: 50px;
  background: rgba(231, 231, 231, .7);
}
.subitem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.gamepage{
  background: url("../images/draw\ copia.jpg");
}