
* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color:black;
  transition: all 0.5s;
}

a:hover {
  color: #00B7FF;
}
a:last-child::after {
  margin-left: 10px;
  content: "";
}


nav{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;;
}

nav a::after {
  margin-right: 50px;
  margin-left: 50px;
  content: "|"; 
}

.inicio{
  background: url("../images/portada.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
.inicio h1{
  color: gray;
  font-size: 100px;
  float:right;
  padding-top: 90px;
  margin-right: 300px;
  -webkit-text-stroke: 2px black;
  
}
.text{
  font-size: 50px;
  float:right;
  margin-right: 20px;
  color: gray;
  -webkit-text-stroke: 2px black;

}
h2{
  font-size: 45px;
  color: gray;
  -webkit-text-stroke: 2px black;
}
#form-container {
position: absolute;
top: 25%;
left: 45%;
width: 300px;
display: flex;
flex-direction: column;
height: 20px;
text-align: center;
}

label{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

:placeholder-shown{
  text-align: center;
}

.box{
  margin-bottom: 10px;
  margin-top:10px; 
  text-align: center;
} 

.photo{
  border-radius: 150px;
  height: 300px;
  width: 300px;
}

.button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
}

.containerGame{
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.items{
  display: flex;
  justify-content: space-between;
  align-content: space-between;   
}

.colors{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 20px;
  display: flex;
  align-content: space-between;
}

#canvas{

  border: 1px solid black;
}

.players{
  width: 250px;
  border: 3px solid black;
}
.letter{
  display: flex;
  justify-content: center;

}

#start-button{
  width: 100px;
  height: 50px;
  border-radius: 20px;
  font-size:15px;
  background:grey;
  color:white;
}


button{
  margin-top: 10px;
  background: grey;
  color:white;
  transition: all 0.5s;
}

button:hover{
  background:  #00B7FF;
}
.profile{
  display: flex;
  margin-top: 50px;
}
.subitem{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}







